{% extends 'app_callcenter/base.html' %}

{% block title %}Detalles de la Participación{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Detalles de la Participación</h1>
                </div>
                <div class="card-body">
                    <p><strong>Agente:</strong> {{ object.id_agente }}</p>
                    <p><strong>Campaña:</strong> {{ object.id_campana }}</p>
                    <p><strong>Fecha de Inicio:</strong> {{ object.fecha_inicio_participacion }}</p>
                    <p><strong>Fecha de Fin:</strong> {{ object.fecha_fin_participacion }}</p>
                    <p><strong>Activo:</strong> {% if object.participacion_activa %}Sí{% else %}No{% endif %}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'app_callcenter:participacion-update' object.pk %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'app_callcenter:participacion-delete' object.pk %}" class="btn btn-danger">Eliminar</a>
                    <a href="{% url 'app_callcenter:participacion-list' %}" class="btn btn-secondary">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
